:root {
  --main: #58286d;
  --background: rgb(255, 230, 0);
  --background-secondary: rgb(73, 238, 23);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main);
}

body {
  background: var(--background-secondary);
}
