.tech_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.tech_heading {
  margin-top: 0;
}

.image_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 400px) {
  .tech_container {
    grid-template-columns: 1fr;
  }
}
