.navAndHeaderContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .webHeader {
    display: none;
  }
  .mobileHeaderHome {
    width: 80%;
    padding: 1rem;
  }

  .mobileHeaderPost {
    padding: 2.25rem 1rem 0 0;
  }

  .contentTop {
    padding-top: 0 !important;
  }
}
@media (min-width: 800px) {
  .mobileHeaderHome {
    display: none;
  }
  .mobileHeaderPost {
    display: none;
  }
}
